@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Poppins";
        font-weight: 400;
        src: url("../../public/fonts/Poppins-Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: "Poppins";
        font-weight: 500;
        src: url("../../public/fonts/Poppins-Medium.ttf") format("truetype");
    }
    @font-face {
        font-family: "Poppins";
        font-weight: 600;
        src: url("../../public/fonts/Poppins-SemiBold.ttf") format("truetype");
    }
    @font-face {
        font-family: "Poppins";
        font-weight: 700;
        src: url("../../public/fonts/Poppins-Bold.ttf") format("truetype");
    }
}

.marquee {
    @apply overflow-hidden whitespace-nowrap box-border;
}

.marquee span {
    @apply inline-block;
    padding-left: 30%;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
